@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
body,
html {
    height: 100%;
    width: 100%;
    background-image: url(../_imagem/fundo1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: initial;
    background-attachment: fixed;
    border: 0px;
    margin: 0;
    padding: 0;
    list-style: none;
}

header#cabecalho {
    font-family: 'Fredericka the Great';
}

div.bg01 h1 {
    font-family: 'Fredericka the Great';
    font-weight: normal;
    font-size: 112px;
    position: relative;
    color: #fff;
    padding-left: 32%;
}

div.bg01 h2 {
    font-family: 'Fredericka the Great';
    font-weight: normal;
    font-size: 40px;
    position: relative;
    color: #fff;
    padding-left: 40%;
}

div.bg02 {
    margin-top: -1.2%;
    background-color: #eeedf2;
}


/* FORMATANDO O MENU */

nav#menu {
    display: block;
    padding: 7% 0 0 32%;
}

nav#menu ul {
    list-style: none;
    position: relative;
}

nav#menu li {
    display: inline-block;
    font-size: 150px;
    padding-left: 9%;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    text-decoration: none;
}

.pink {
    color: #f481a8;
}

.green {
    color: #a3e0a7;
}

.yellow {
    color: #eece67;
}

.pink:hover {
    color: aquamarine;
}

.green:hover {
    color: aquamarine;
}

.yellow:hover {
    color: aquamarine;
}