@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

body, html{
    height: 100%;
}

/* backgrounds */
.bg01, bg02{
    position: relative;
    background-attachment: fixed;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

div.bg01{
    background-image: url("../_imagem/fundo1.jpg");
    height: 100%;
    margin-top: -0.6%;
}

header#cabecalho {
    font-family: 'Fredericka the Great';
}

div.bg01 h1{
    font-family: 'Fredericka the Great';
    font-weight: normal;
    font-size: 112px;
    position: relative;
    color: #fff;
    padding-left: 23%;
}

div.bg02 {
    margin-top: -1.2%;
    background-color: #eeedf2;
    background-image: url(../_imagem/fundo2.jpg);
}

/* FORMATANDO O MENU */

nav#menu{
    display: block;
    padding: 7% 0 0 25%;
}

nav#menu ul{ 
    list-style: none;
    position: relative;
}

nav#menu li{
    display: inline-block;
    font-size: 150px;
    padding-left: 9%;
}

nav#menu h1{
    display: none;
}

nav#menu a{
    text-decoration: none;
}

.pink{
    color:#f481a8;
}

.green{
    color: #a3e0a7;
}

.yellow{
    color: #eece67;
}

